.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex;

    justify-content: center;


    @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        justify-content: flex-end;
    }


    &__nav {
        color: #fff;
        width: 4.5rem;
        height: 2px;
        border: none;
        border-radius: 0;
        margin-top: 1rem;

    }

    &__nav::before,
    &__nav::after {
        background-color: #fff;
        width: 4.5rem;
        height: 2px;
        border: none;
        border-radius: 0;

        content: "";
        display: block;

        
    }

    &__nav::before {
        transform: translateY(-1.5rem);
    }

    &__nav::after {
        transform: translateY(1.3rem);
    }

    @media only screen and (max-width: $bp-large) {
        &__nav {
            
            margin-top: 0;
    
        }

        &__nav::before {
            transform: translateY(-1.2rem);
        }
    
        &__nav::after {
            transform: translateY(1rem);
        }
    }
}